@mixin transition($property: all, $duration: 0.2s, $timing:ease) {
  transition: $property $duration $timing;
}

@mixin box-shadow() {
  box-shadow: 0 2px 4px rgba(0,0,0,.15);
}

@mixin flexbox-layout($direction:row, $wrap: wrap) {
    display: flex;
    flex-direction: $direction;
    flex-wrap: $wrap;
}

@mixin card($padding:0) {
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.035), 0 1px 5px 0 rgba(0,0,0,0.04), 0 3px 1px -2px rgba(0,0,0,0.05);
  border-radius: 2px;
  background: #fff;
  padding: $padding;
}

@mixin weight($weight) {
    font-weight: $weight;
}
