
$blue       : #1665c4;

// Palette
$color: (
  brand: (
    main :      $blue,
    secondary:  black,
    active:     black,
    negative:   #ff4c4c,
    positive:   #00e573,
    progress:   #fed117
  ),

  greyscale: (
    50   : #fafafa,
    100  : #f5f5f5,
    200  : #eeeeee,
    300  : #e0e0e0,
    400  : #bdbdbd,
    500  : #9e9e9e,
    600  : #757575,
    700  : #616161,
    800  : #424242,
    900  : #212121,
    1000 : #111111
  ),

  social: (
    facebook : #3b5998,
    twitter  : #4099FF,
    instagram   : #833ab4,
    linkedin   : #0077b5,
    behance   : #1769ff,
    pinterest   : #bd081c
  ),
);
