$spacing: (
  quarter: 0.25rem,
  half: 0.5rem,
  base:  1rem,
  double-half:  1.5rem,
  double: 2rem,
  triple: 3rem,
  quad: 4rem,
  penta: 5rem
);

.mt-quarter {
  margin-top: spacing(quarter);
}
.mt-half {
  margin-top: spacing(half);
}
.mt-base {
  margin-top: spacing(base);
}
.mt-double-half {
  margin-top: spacing(double-half);
}
.mt-double {
  margin-top: spacing(double);
}
.mt-triple {
  margin-top: spacing(triple);
}
.mt-quad {
  margin-top: spacing(quad);
}
.mt-penta {
  margin-top: spacing(penta);
}

.ml-quarter {
  margin-left: spacing(quarter);
}
.ml-half {
  margin-left: spacing(half);
}
.ml-base {
  margin-left: spacing(base);
}
.ml-double-half {
  margin-left: spacing(double-half);
}
.ml-double {
  margin-left: spacing(double);
}
.ml-triple {
  margin-left: spacing(triple);
}
.ml-quad {
  margin-left: spacing(quad);
}
.ml-penta {
  margin-left: spacing(penta);
}
