// Gotham import
@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/GothamRounded-Medium.woff2') format('woff2'),
        url('../fonts/GothamRounded-Medium.woff') format('woff'),
        url('../fonts/GothamRounded-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src: url('../fonts/GothamRounded-Book.woff2') format('woff2'),
        url('../fonts/GothamRounded-Book.woff') format('woff'),
        url('../fonts/GothamRounded-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
}

@font-face {
  font-family: 'Gotham Rounded';
  src:  url('../fonts/GothamRounded-Bold.woff2') format('woff2'),
        url('../fonts/GothamRounded-Bold.woff') format('woff'),
        url('../fonts/GothamRounded-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
}

// Typefaces
$Gotham: 'Gotham Rounded';
$OpenSans: 'Open Sans', sans-serif;

// Document typeset
$headline: $Gotham;
$copy: $OpenSans;


body,
html {
    font: 17px/1.375 $copy;
    font-style: normal;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Typeset
h1 {
  font-size: 48px;
  font-family: $headline;
  font-weight: 800;
  text-align: center;
}

h2 {
  font-family: $headline;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
}

.regular {
  font-weight: 400;
}

.text-center {
  text-align: center;
}

.small-headline {
  margin-top: spacing(quad);
    h3 {
      font-weight: 800;
      font-family: $headline;
    }

    hr {
      background: color(greyscale, 800);
      height: 1px;
      width: 100%;
      border: none;
      margin-top: spacing(base);
    }
}
ul.list {
  li.active {
    color: color(brand, main);
  }
}


// Links
a, a:focus, a:visited, a:hover {
  text-decoration: none;
  color: inherit;
}

.secondary-copy {
  color: color(greyscale, 600);
}

.small-copy {
  font-size: 15px;
}
