.add-product {
  margin-top: spacing(double);
  margin-left: -15px;
  margin-right: -15px;
  ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    li {
      width: calc(25% - 30px);
      background: lightpink;
      margin-right: 15px;
      margin-left: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
      background: #20272f;
      @include box-shadow;
    }
  }
}

.add-product {
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: spacing(double);
    min-height: 150px;
    border-radius: 5px;
    cursor: pointer;
    svg {
      fill: white;
      width: 25px;
      height: 25px;
    }
    span {
      text-align: center;
      color: color(greyscale, 600);
      font-weight: 400;
      margin-top: spacing(half);
    }
    &:hover {
      border: 1px solid #444e5a;
    }
  }
}
