.app-brand {
    margin-bottom: spacing(double);
    .linkeo-logo,
    .seperator,
    .app-name {
      vertical-align: middle;
      display: inline-block;
    }

    .linkeo-logo {
        width: 70px;
        position: relative;
        top: -4px;
    }

    .app-name {
        font-size: 25px;
        font-family: $headline;
        font-weight: 400;
    }

    .seperator {
      display: inline-block;
      width: 2px;
      background: white;
      height: 24px;
      margin: 0 spacing(half);
    }
}
