.button-container {
  margin-top: spacing(double);
  display: flex;
  justify-content: center;
  .button {
    margin: 0 spacing(half);
  }
}
.button {
  padding: spacing(half) spacing(double-half);
  text-align: center;
  background: color(brand, main);
  display: inline-block;
  text-transform: uppercase;
  font-family: $headline;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.75px;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid color(brand, main);
  span {
    position: relative;
    top: 1px;
  }
  &:hover {
    background: transparent;
    border: 2px solid color(brand, main);
    color: color(brand, main);
  }
  &.cancel {
    background: color(greyscale, 500);
    border-color: color(greyscale, 500);
  }
  &.delete {
    background: color(brand, negative);
    border-color: color(brand, negative);
    &:hover {
      span {
        color: white;
      }
      color: white!important;
    }
  }
}
