.checkbox {
  display: flex;
  cursor: pointer;
  transition: all .2s ease;
  margin: spacing(base) 0;
  input[type="checkbox"] {
    display: none;
    &:checked {
      + .checkbox-shape {
        background: color(brand, main);
        border: 1px solid color(brand, main);
        svg {
          visibility: visible;
          opacity: 1;
          top: 6px;
        }
        + .checkbox-label {
            color: white;
        }
      }
    }
  }

  .checkbox-shape {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid color(greyscale, 600);
    margin-right: spacing(base);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4px;
    svg {
      transform: scale(1.5);
      position: relative;
      top: 2px;
      visibility: hidden;
      opacity: 0;
      transition: all .2s ease;
      fill: white;
    }
  }
  .checkbox-label {
    color: color(greyscale, 600);
    user-select: none;
    font-size: 15px;
  }
}
