/* General dropdown styles */
.dropdown dd, .dropdown dt, .dropdown ul {
  margin: 0px;
  padding: 0px;
  font-size: 15px;
}

.dropdown dd {
  position: relative;
}

.dropdown + .dropdown-input {
  opacity: 0;
  visibility: hidden;
}
/* DT styles for sliding doors */
.dropdown dt a {
    background: transparent url('../../assets/svg/icons/chevron-down.svg') no-repeat scroll right 12px;
    background-size: 33px 20px;
    display: block;
    padding-right: 20px;
    border: 1px solid color(greyscale, 600);
    width: 100%;
    color: color(greyscale, 600);
    height: 40px;
    border-radius: 3px;
    font-family: $headline;
    font-size: 15px;
    line-height: 40px;
    padding: 0 spacing(base);
}

.dropdown dt a span {
  cursor: pointer;
  display: block;

}

/* UL styles */
.dropdown dd ul {
  display: none;
  list-style: none;
  padding: 0;
  font-family: $headline;
  font-size: 15px;
  line-height: 1.75rem;
  position: absolute;
  left: 0px;
  top: -2px;
  width: auto;
  width: 100%;
  background: darken(#1b2026, 1%);
  @include box-shadow;
  border: 1px solid color(greyscale, 600);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 100;
  li {
    padding: 5px 15px;
    &:hover {
      background: #1b2026;

    }
  }
}

.dropdown span.value {
  display: none;
}

.dropdown dd ul li a {
  padding: 5px;
  display: block;
}
