.filters-banner {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: spacing(triple);
  .filter-item {
    width: calc(25% - 30px);
    margin-left: 15px;
    margin-right: 15px;
  }
}

.filter-item {
  input, select {
    border-radius: 3px;
    border: 1px solid color(greyscale, 600);
    padding: 0 spacing(base);
    height: 40px;
    width: 100%;
    background: transparent;
    font-family: $headline;
    font-size: 15px;
    color: white;

  }
    select {
      option[disabled] {
        display: none;
      }
    }
}
