.row {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;

  .column {
    margin-left: 15px;
    margin-right: 15px;
    &_full {
      width: calc(100% - 30px);
    }
    &_double-half {
      width: calc(75% - 30px);
    }
    &_half {
      width: calc(50% - 30px);
    }
    &_third {
      width: calc(33.3% - 30px);
    }
    &_quarter {
      width: calc(25% - 30px);
    }
    &_fifth {
      width: calc(15% - 30px);
    }
  }
}
