.info-list {
  line-height: 2rem;
  li:hover {
    cursor: pointer;
    a {
      color: color(brand, main);
      color: white;
      // border-bottom: none;
    }
    svg {
      fill: white;
      stroke: white;
    }
  }
  svg {
    width: 25px;
    height: 25px;
    fill: color(greyscale, 600);
    stroke: color(greyscale, 600);
    vertical-align: middle;
    margin-right: spacing(half);
  }
  .planet, .test_list {
    width: 20px;
    height: 20px;
    margin-left: 2px;
    position: relative;
    top: 1px;
    & + a {
      margin-left: 4px;
    }
  }
  a {
    vertical-align: middle;
    border-bottom: 1px solid;

  }
}
