.login-card {
  padding: 0!important;
  max-width: 500px;
  // border-radius: 5px;
  .card-header {
    background: color(brand, main);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    .app-brand {
      margin-bottom: 0;
    }
  }
  .card-body {
    padding: spacing(base) spacing(double) spacing(double) spacing(double);
    label {
      color: color(greyscale, 600);
    }
    .button:hover {
      color: color(brand, main);
    }
  }
}
