.modal {
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center;
  .card {
    @include card;
    padding: spacing(triple);
    width: 830px;
    color: black;
    h2 {
      color: color(brand, main);
      font-weight: 800;
    }
    h3 {
      color: color(brand, main);
      font-weight: 800;
      font-family: $headline;

    }
    .regular {
      font-weight: 400;
    }
  }
  .text-input {
    margin-top: spacing(base);
    label {
      display: block;
      font-family: $headline;
      color: color(brand, main);
      margin-bottom: spacing(quarter);
    }
    input {
      height: 40px;
      border: 1px solid color(greyscale, 400);
      width: 100%;
      padding: spacing(half);
      font-size: 15px;
      font-family: $headline;
    }
  }
  .checkbox {
    input[type="checkbox"] {
      display: none;
      &:checked {
        + .checkbox-shape {
          background: color(brand, main);
          border: 1px solid color(brand, main);
          svg {
            visibility: visible;
            opacity: 1;
            top: 6px;
          }
          + .checkbox-label {
              color: color(greyscale, 600);
          }
        }
      }
    }
    .checkbox-shape {
      border: 1px solid color(greyscale, 400);
    }
  }
  .dropdown {
    dt a {
      color: color(greyscale, 600);
      border: 1px solid color(greyscale, 400);
    }
    dd ul {
      background: white;
      border: 1px solid color(greyscale, 400);
      li {
        &:hover {
          background: color(greyscale, 400);
        }
      }
    }
  }
  .button {
    color: white;
    &.primary {
      &:hover {
        color: color(brand, main);
      }
    }
  }
}
