nav {
  font-family: $headline;
  li {
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding: spacing(half);
    cursor: pointer;
    color: #6c9cd9;
    display: flex;
    align-items: flex-start;

    svg {
      position: relative;
      width: 20px;
      height: 20px;
      fill: #6c9cd9;
      stroke: #6c9cd9;
    }

    svg.home {
      top: 2px;
    }

    svg.list {
      top: 6px;
    }

    svg.cross-circle {
      top: 4px;
      transform: rotate(45deg);
    }

    &:hover, &.active {
      color: white;
      svg {
        stroke: white;
        fill: white;
      }
    }
  }
}
