.pagination {
    width:50%;
    margin: spacing(triple) auto;
    text-align: center;
    font-family: $headline;
    font-size: 14px;

    li {
      transition: all .1s ease;
        display: inline-block;
        float: none;
        vertical-align: middle;
        width: 30px;
        height: 30px;
        line-height: 32px;
        border-radius: 50%;
        color: color(greyscale, 600);
        cursor: pointer;
    }

    &_nb {
          background: transparent;
          padding-left: 0.5px;

      &:hover {
          // background: color(greyscale, 700);
          color: white;
      }

      &.active {
          font-weight: 500;
          background: color(brand, main);
          cursor: default;
          color: white;
      }
    }
}

.rotate-left {
  transform: rotate(180deg);
}

.pagination_arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: color(greyscale, 800);

  &:hover {
    background: color(greyscale, 600);
  }

    &.right {
      margin-left: spacing(half);
    }

    &.left {
      margin-right: spacing(half);
    }

    .chevron-right,
    .chevron-left {
      position: relative;
      width: 30px;
      height: 30px;
      fill: white;
    }

    .chevron-right {
      top: 3px;
      left: 1px;
    }

    .chevron-left {
      top: -3px;
      left: 1px;
    }
}
