.radio-button {
  position: relative;
}
.radio-button input[type=radio]{
  position: absolute;
  visibility: hidden;
}
.radio-button label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px 25px 45px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  color: color(greyscale, 600);
}


.radio-button .check{
  display: block;
  position: absolute;
  border: 2px solid color(greyscale, 600);
  border-radius: 100%;
  height: 30px;
  width: 30px;
  top: 30px;
  left: 0px;
	z-index: 5;
	transition: border .25s linear;
	-webkit-transition: border .25s linear;
}

.radio-button:hover .check {
  border: 2px solid color(greyscale, 600);
}

.radio-button .check::before {
  display: block;
  position: absolute;
	content: '';
  border-radius: 100%;
  height: 16px;
  width: 16px;
  top: 5px;
	left: 5px;
  margin: auto;
	transition: background 0.25s linear;
}

input[type=radio]:checked ~ .check {
  border: 2px solid color(brand, main);
}

input[type=radio]:checked ~ .check::before{
  background: color(brand, main);
}

input[type=radio]:checked ~ label{
  color: color(brand, main);
}
