.search-block {
    padding: spacing(double) 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    form {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    input {
        background: transparent;
        border-top: 1px;
        border-right: 0;
        border-bottom: 1px;
        border-left: 1px;
        border-color: color(greyscale, 600);
        border-style: solid;
        font-family: $headline;
        padding: 0 spacing(base);
        font-size: 15px;
        width: 260px;
        height: 40px;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        color: white;
        &:focus {
          outline: none;
        }
    }
    button {
      background: transparent;
      border-top: 1px;
      border-right: 1px;
      border-bottom: 1px;
      border-left: 0;
      border-color: color(greyscale, 600);
      border-style: solid;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      cursor: pointer;
      svg {
        width: 24px;
        height: 24px;
        fill: color(greyscale, 600);
        position: relative;
        top: 1px;
      }
      &:hover {
        svg {
          fill: white;
        }
      }
      &:focus {
        outline: none;
      }
    }
}
