.state {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-right: spacing(quarter);
  &.positive {
    background: color(brand, positive);
  }
  &.neutral {
    background: color(brand, main);
  }
  &.progress {
    background: color(brand, progress);
  }
}
