.table {
  text-align: left;
  margin-top: spacing(quad);
  width: 100%;


  td, th {
      border-bottom: 1px solid color(greyscale, 800);
  }

  th {
      padding: 0 0 spacing(base) 0;
      font-weight: inherit;
  }

  td {
      padding: spacing(double) 0;
      vertical-align: top;
  }

  .table-head {
    font-family: $headline;
    font-weight: 800;
    font-style: normal;
    font-size: 16px;
  }

  .table-row {
    position: relative;
    &:hover {
    background: linear-gradient(to right, rgba(32,39,47,0.15) 0%,rgba(32,39,47,1) 10%,rgba(32,39,47,1) 50%,rgba(32,39,47,1) 90%,rgba(32,39,47,0.15) 100%);
      cursor: pointer;
      td:nth-child(7) .chevron-right {
        fill: white;
      }
    }
    td {
      padding-right: 15px;
    }
    td:first-child {
      width: 17.6%;
    }
    td:nth-child(2) {
      width: 13%;
    }
    td:nth-child(3) {
      width: 13%;
    }
    td:nth-child(4) {
      width: 14%;
    }
    td:nth-child(5) {
      width: 22.8%;
    }
    td:nth-child(6) {
      width: 16.6%;
    }
    td:nth-child(7) {
      width: 3%;
      padding-right: 0;
      .chevron-right   {
        fill: color(greyscale, 600);
      }
    }
  }

  .product-name {
    font-family: $headline;
    font-weight: 500;
    font-size: 18px;
    span, svg {
      display: inline-block;
      vertical-align: middle;
    }
    svg {
      width: 24px;
      height: 24px;
      fill: white;
      margin-right: spacing(half);
      position: relative;
      top: -2px;
    }
  }
  .product-info {
    font-size: 15px;
    color: color(greyscale, 600);
    .truncate {
       width: 120px;
       white-space: nowrap;
       overflow: hidden;
       text-overflow: ellipsis;
       display: inline-block;
    }
  }
  .chevron-right {
    width: 30px;
    height: 30px;
  }
}
.url-links {
  margin-top: spacing(quarter);
  &_item {
    &:hover {
      span {
        color: white;
      }
      svg {
        fill: white;
      }
    }
  }
  svg {
    fill: color(greyscale, 600);
    position: relative;
  }
  .planet {
    top: 1.5px;
    width: 15px;
    height: 15px;
    margin-left: spacing(half);
  }
  .factory {
    top: 4px;
    width: 20px;
    height: 20px;
  }
  span {
    border-bottom: 1px solid;
  }
}
