.test-list {
  margin-top: spacing(base);
  li {
    display: flex;
    align-items: center;
    height: 60px;
    color: color(greyscale, 600);
    border-bottom: 1px solid color(greyscale, 400);
    justify-content: space-between;
    &:first-child {
      border-top: 1px solid color(greyscale, 400);
    }
    .cross, .triangle, .circle {
      width: 20px;
      height: 20px;
    }
    .chevron-right {
      width: 30px;
      height: 30px;
      position: relative;
      top: 2px;
      left: 8px;
      fill: color(greyscale, 600);
    }
    .test-results {
      font-family: $headline;
      font-weight: 800;
      display: flex;
      .nb {
        padding-left: spacing(quarter);
      }
      .negative-test {
        display: flex;
        align-items: flex-start;
        color: #f73636;
      }
      .warning-test {
        display: flex;
        align-items: flex-start;
        color: #ffbf00;
        margin: 0 spacing(base);
      }
      .positive-test {
        display: flex;
        align-items: flex-start;
        color: #24f27a;
      }
    }
  }
}
