.user {
  bottom: spacing(double);
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  font-family: $headline;
  max-width: 100%;

    &_icon {
        svg {
          width: 30px;
          height: 30px;
          fill: white;
        }
    }

    &_name {
      padding-top: spacing(quarter);
    }

    &_btn {
      border-bottom: 1px solid;
      padding-top: spacing(quarter);
      cursor: pointer;

        &:hover {
          color: color(greyscale, 400);
          border-color: transparent;
        }
    }
}
