.bin {
  width: 192px;
  height: 192px;
}

.checkmark {
  width: 100px;
  height: 125px;
}

.chevron-down {
  width: 100px;
  height: 125px;
}

.chevron-right {
  width: 100px;
  height: 125px;
}

.circle {
  width: 15px;
  height: 15px;
}

.cross-circle {
  width: 192px;
  height: 192px;
}

.cross {
  width: 15px;
  height: 15px;
}

.factory {
  width: 192px;
  height: 192px;
}

.gear-small {
  width: 50px;
  height: 50px;
}

.gear {
  width: 192px;
  height: 192px;
}

.home {
  width: 192px;
  height: 192px;
}

.linkeo_logo {
  width: 90px;
  height: 35px;
}

.list {
  width: 100px;
  height: 125px;
}

.masturbation {
  width: 192px;
  height: 192px;
}

.mobileapp {
  width: 192px;
  height: 192px;
}

.newsletter {
  width: 192px;
  height: 192px;
}

.planet {
  width: 192px;
  height: 192px;
}

.planner {
  width: 192px;
  height: 192px;
}

.reload {
  width: 192px;
  height: 192px;
}

.reviews {
  width: 192px;
  height: 192px;
}

.search {
  width: 100px;
  height: 125px;
}

.site {
  width: 192px;
  height: 192px;
}

.test_list {
  width: 192px;
  height: 192px;
}

.triangle {
  width: 15px;
  height: 15px;
}

