@-ms-viewport {
    width: device-width;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;
}

*,
*::after,
*::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    background-color: #1b2026;
    color: #fffeff;
}



img {
  max-width: 100%;
}

a {
  cursor: pointer;
}
