html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-webkit-clear-button {
  /* Removes blue cross */
  -webkit-appearance: none !important;
  margin: 0; }

input::-ms-clear {
  /* Remove IE default X */
  display: none; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0; }

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; }

input[type=text]::-ms-clear {
  display: none;
  width: 0;
  height: 0; }

input[type=text]::-ms-reveal {
  display: none;
  width: 0;
  height: 0; }

@-ms-viewport {
  width: device-width; }

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -ms-overflow-style: scrollbar; }

*,
*::after,
*::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit; }

body {
  background-color: #1b2026;
  color: #fffeff; }

img {
  max-width: 100%; }

a {
  cursor: pointer; }

.mt-quarter {
  margin-top: 0.25rem; }

.mt-half {
  margin-top: 0.5rem; }

.mt-base {
  margin-top: 1rem; }

.mt-double-half {
  margin-top: 1.5rem; }

.mt-double {
  margin-top: 2rem; }

.mt-triple {
  margin-top: 3rem; }

.mt-quad {
  margin-top: 4rem; }

.mt-penta {
  margin-top: 5rem; }

.ml-quarter {
  margin-left: 0.25rem; }

.ml-half {
  margin-left: 0.5rem; }

.ml-base {
  margin-left: 1rem; }

.ml-double-half {
  margin-left: 1.5rem; }

.ml-double {
  margin-left: 2rem; }

.ml-triple {
  margin-left: 3rem; }

.ml-quad {
  margin-left: 4rem; }

.ml-penta {
  margin-left: 5rem; }

.container {
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1165px;
  margin-bottom: 6rem; }

@font-face {
  font-family: 'Gotham Rounded';
  src: url("../fonts/GothamRounded-Medium.woff2") format("woff2"), url("../fonts/GothamRounded-Medium.woff") format("woff"), url("../fonts/GothamRounded-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Gotham Rounded';
  src: url("../fonts/GothamRounded-Book.woff2") format("woff2"), url("../fonts/GothamRounded-Book.woff") format("woff"), url("../fonts/GothamRounded-Book.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-stretch: normal; }

@font-face {
  font-family: 'Gotham Rounded';
  src: url("../fonts/GothamRounded-Bold.woff2") format("woff2"), url("../fonts/GothamRounded-Bold.woff") format("woff"), url("../fonts/GothamRounded-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-stretch: normal; }

body,
html {
  font: 17px/1.375 "Open Sans", sans-serif;
  font-style: normal;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

h1 {
  font-size: 48px;
  font-family: "Gotham Rounded";
  font-weight: 800;
  text-align: center; }

h2 {
  font-family: "Gotham Rounded";
  text-align: center;
  font-size: 24px;
  font-weight: 400; }

.regular {
  font-weight: 400; }

.text-center {
  text-align: center; }

.small-headline {
  margin-top: 4rem; }
  .small-headline h3 {
    font-weight: 800;
    font-family: "Gotham Rounded"; }
  .small-headline hr {
    background: #424242;
    height: 1px;
    width: 100%;
    border: none;
    margin-top: 1rem; }

ul.list li.active {
  color: #1665c4; }

a, a:focus, a:visited, a:hover {
  text-decoration: none;
  color: inherit; }

.secondary-copy {
  color: #757575; }

.small-copy {
  font-size: 15px; }

aside {
  position: fixed;
  height: 100vh;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  background: linear-gradient(#224d82, #428b9a);
  padding: 2rem; }

.app-brand {
  margin-bottom: 2rem; }
  .app-brand .linkeo-logo,
  .app-brand .seperator,
  .app-brand .app-name {
    vertical-align: middle;
    display: inline-block; }
  .app-brand .linkeo-logo {
    width: 70px;
    position: relative;
    top: -4px; }
  .app-brand .app-name {
    font-size: 25px;
    font-family: "Gotham Rounded";
    font-weight: 400; }
  .app-brand .seperator {
    display: inline-block;
    width: 2px;
    background: white;
    height: 24px;
    margin: 0 0.5rem; }

nav {
  font-family: "Gotham Rounded"; }
  nav li {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    padding: 0.5rem;
    cursor: pointer;
    color: #6c9cd9;
    display: flex;
    align-items: flex-start; }
    nav li svg {
      position: relative;
      width: 20px;
      height: 20px;
      fill: #6c9cd9;
      stroke: #6c9cd9; }
    nav li svg.home {
      top: 2px; }
    nav li svg.list {
      top: 6px; }
    nav li svg.cross-circle {
      top: 4px;
      transform: rotate(45deg); }
    nav li:hover, nav li.active {
      color: white; }
      nav li:hover svg, nav li.active svg {
        stroke: white;
        fill: white; }

.search-block {
  padding: 2rem 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center; }
  .search-block form {
    display: flex;
    align-items: center;
    justify-content: center; }
  .search-block input {
    background: transparent;
    border-top: 1px;
    border-right: 0;
    border-bottom: 1px;
    border-left: 1px;
    border-color: #757575;
    border-style: solid;
    font-family: "Gotham Rounded";
    padding: 0 1rem;
    font-size: 15px;
    width: 260px;
    height: 40px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    color: white; }
    .search-block input:focus {
      outline: none; }
  .search-block button {
    background: transparent;
    border-top: 1px;
    border-right: 1px;
    border-bottom: 1px;
    border-left: 0;
    border-color: #757575;
    border-style: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    cursor: pointer; }
    .search-block button svg {
      width: 24px;
      height: 24px;
      fill: #757575;
      position: relative;
      top: 1px; }
    .search-block button:hover svg {
      fill: white; }
    .search-block button:focus {
      outline: none; }

.app-header {
  margin-top: 2rem; }
  .app-header h2 {
    margin-top: 0.5rem; }

.table {
  text-align: left;
  margin-top: 4rem;
  width: 100%; }
  .table td, .table th {
    border-bottom: 1px solid #424242; }
  .table th {
    padding: 0 0 1rem 0;
    font-weight: inherit; }
  .table td {
    padding: 2rem 0;
    vertical-align: top; }
  .table .table-head {
    font-family: "Gotham Rounded";
    font-weight: 800;
    font-style: normal;
    font-size: 16px; }
  .table .table-row {
    position: relative; }
    .table .table-row:hover {
      background: linear-gradient(to right, rgba(32, 39, 47, 0.15) 0%, #20272f 10%, #20272f 50%, #20272f 90%, rgba(32, 39, 47, 0.15) 100%);
      cursor: pointer; }
      .table .table-row:hover td:nth-child(7) .chevron-right {
        fill: white; }
    .table .table-row td {
      padding-right: 15px; }
    .table .table-row td:first-child {
      width: 17.6%; }
    .table .table-row td:nth-child(2) {
      width: 13%; }
    .table .table-row td:nth-child(3) {
      width: 13%; }
    .table .table-row td:nth-child(4) {
      width: 14%; }
    .table .table-row td:nth-child(5) {
      width: 22.8%; }
    .table .table-row td:nth-child(6) {
      width: 16.6%; }
    .table .table-row td:nth-child(7) {
      width: 3%;
      padding-right: 0; }
      .table .table-row td:nth-child(7) .chevron-right {
        fill: #757575; }
  .table .product-name {
    font-family: "Gotham Rounded";
    font-weight: 500;
    font-size: 18px; }
    .table .product-name span, .table .product-name svg {
      display: inline-block;
      vertical-align: middle; }
    .table .product-name svg {
      width: 24px;
      height: 24px;
      fill: white;
      margin-right: 0.5rem;
      position: relative;
      top: -2px; }
  .table .product-info {
    font-size: 15px;
    color: #757575; }
    .table .product-info .truncate {
      width: 120px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block; }
  .table .chevron-right {
    width: 30px;
    height: 30px; }

.url-links {
  margin-top: 0.25rem; }
  .url-links_item:hover span {
    color: white; }
  .url-links_item:hover svg {
    fill: white; }
  .url-links svg {
    fill: #757575;
    position: relative; }
  .url-links .planet {
    top: 1.5px;
    width: 15px;
    height: 15px;
    margin-left: 0.5rem; }
  .url-links .factory {
    top: 4px;
    width: 20px;
    height: 20px; }
  .url-links span {
    border-bottom: 1px solid; }

.button-container {
  margin-top: 2rem;
  display: flex;
  justify-content: center; }
  .button-container .button {
    margin: 0 0.5rem; }

.button {
  padding: 0.5rem 1.5rem;
  text-align: center;
  background: #1665c4;
  display: inline-block;
  text-transform: uppercase;
  font-family: "Gotham Rounded";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.75px;
  border-radius: 30px;
  cursor: pointer;
  border: 2px solid #1665c4; }
  .button span {
    position: relative;
    top: 1px; }
  .button:hover {
    background: transparent;
    border: 2px solid #1665c4;
    color: #1665c4; }
  .button.cancel {
    background: #9e9e9e;
    border-color: #9e9e9e; }
  .button.delete {
    background: #ff4c4c;
    border-color: #ff4c4c; }
    .button.delete:hover {
      color: white !important; }
      .button.delete:hover span {
        color: white; }

.add-product {
  margin-top: 2rem;
  margin-left: -15px;
  margin-right: -15px; }
  .add-product ul {
    width: 100%;
    display: flex;
    flex-wrap: wrap; }
    .add-product ul li {
      width: calc(25% - 30px);
      background: lightpink;
      margin-right: 15px;
      margin-left: 15px;
      margin-top: 15px;
      margin-bottom: 15px;
      background: #20272f;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15); }

.add-product li {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-height: 150px;
  border-radius: 5px;
  cursor: pointer; }
  .add-product li svg {
    fill: white;
    width: 25px;
    height: 25px; }
  .add-product li span {
    text-align: center;
    color: #757575;
    font-weight: 400;
    margin-top: 0.5rem; }
  .add-product li:hover {
    border: 1px solid #444e5a; }

.filters-banner {
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  margin-top: 3rem; }
  .filters-banner .filter-item {
    width: calc(25% - 30px);
    margin-left: 15px;
    margin-right: 15px; }

.filter-item input, .filter-item select {
  border-radius: 3px;
  border: 1px solid #757575;
  padding: 0 1rem;
  height: 40px;
  width: 100%;
  background: transparent;
  font-family: "Gotham Rounded";
  font-size: 15px;
  color: white; }

.filter-item select option[disabled] {
  display: none; }

/* General dropdown styles */
.dropdown dd, .dropdown dt, .dropdown ul {
  margin: 0px;
  padding: 0px;
  font-size: 15px; }

.dropdown dd {
  position: relative; }

.dropdown + .dropdown-input {
  opacity: 0;
  visibility: hidden; }

/* DT styles for sliding doors */
.dropdown dt a {
  background: transparent url("../../assets/svg/icons/chevron-down.svg") no-repeat scroll right 12px;
  background-size: 33px 20px;
  display: block;
  padding-right: 20px;
  border: 1px solid #757575;
  width: 100%;
  color: #757575;
  height: 40px;
  border-radius: 3px;
  font-family: "Gotham Rounded";
  font-size: 15px;
  line-height: 40px;
  padding: 0 1rem; }

.dropdown dt a span {
  cursor: pointer;
  display: block; }

/* UL styles */
.dropdown dd ul {
  display: none;
  list-style: none;
  padding: 0;
  font-family: "Gotham Rounded";
  font-size: 15px;
  line-height: 1.75rem;
  position: absolute;
  left: 0px;
  top: -2px;
  width: auto;
  width: 100%;
  background: #191d23;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #757575;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  z-index: 100; }
  .dropdown dd ul li {
    padding: 5px 15px; }
    .dropdown dd ul li:hover {
      background: #1b2026; }

.dropdown span.value {
  display: none; }

.dropdown dd ul li a {
  padding: 5px;
  display: block; }

.state {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  vertical-align: middle;
  position: relative;
  top: -1px;
  margin-right: 0.25rem; }
  .state.positive {
    background: #00e573; }
  .state.neutral {
    background: #1665c4; }
  .state.progress {
    background: #fed117; }

.row {
  width: auto;
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px; }
  .row .column {
    margin-left: 15px;
    margin-right: 15px; }
    .row .column_full {
      width: calc(100% - 30px); }
    .row .column_double-half {
      width: calc(75% - 30px); }
    .row .column_half {
      width: calc(50% - 30px); }
    .row .column_third {
      width: calc(33.3% - 30px); }
    .row .column_quarter {
      width: calc(25% - 30px); }
    .row .column_fifth {
      width: calc(15% - 30px); }

.checkbox {
  display: flex;
  cursor: pointer;
  transition: all .2s ease;
  margin: 1rem 0; }
  .checkbox input[type="checkbox"] {
    display: none; }
    .checkbox input[type="checkbox"]:checked + .checkbox-shape {
      background: #1665c4;
      border: 1px solid #1665c4; }
      .checkbox input[type="checkbox"]:checked + .checkbox-shape svg {
        visibility: visible;
        opacity: 1;
        top: 6px; }
      .checkbox input[type="checkbox"]:checked + .checkbox-shape + .checkbox-label {
        color: white; }
  .checkbox .checkbox-shape {
    display: block;
    width: 30px;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #757575;
    margin-right: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 4px; }
    .checkbox .checkbox-shape svg {
      transform: scale(1.5);
      position: relative;
      top: 2px;
      visibility: hidden;
      opacity: 0;
      transition: all .2s ease;
      fill: white; }
  .checkbox .checkbox-label {
    color: #757575;
    user-select: none;
    font-size: 15px; }

.info-list {
  line-height: 2rem; }
  .info-list li:hover {
    cursor: pointer; }
    .info-list li:hover a {
      color: #1665c4;
      color: white; }
    .info-list li:hover svg {
      fill: white;
      stroke: white; }
  .info-list svg {
    width: 25px;
    height: 25px;
    fill: #757575;
    stroke: #757575;
    vertical-align: middle;
    margin-right: 0.5rem; }
  .info-list .planet, .info-list .test_list {
    width: 20px;
    height: 20px;
    margin-left: 2px;
    position: relative;
    top: 1px; }
    .info-list .planet + a, .info-list .test_list + a {
      margin-left: 4px; }
  .info-list a {
    vertical-align: middle;
    border-bottom: 1px solid; }

.pagination {
  width: 50%;
  margin: 3rem auto;
  text-align: center;
  font-family: "Gotham Rounded";
  font-size: 14px; }
  .pagination li {
    transition: all .1s ease;
    display: inline-block;
    float: none;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    line-height: 32px;
    border-radius: 50%;
    color: #757575;
    cursor: pointer; }
  .pagination_nb {
    background: transparent;
    padding-left: 0.5px; }
    .pagination_nb:hover {
      color: white; }
    .pagination_nb.active {
      font-weight: 500;
      background: #1665c4;
      cursor: default;
      color: white; }

.rotate-left {
  transform: rotate(180deg); }

.pagination_arrow {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #424242; }
  .pagination_arrow:hover {
    background: #757575; }
  .pagination_arrow.right {
    margin-left: 0.5rem; }
  .pagination_arrow.left {
    margin-right: 0.5rem; }
  .pagination_arrow .chevron-right,
  .pagination_arrow .chevron-left {
    position: relative;
    width: 30px;
    height: 30px;
    fill: white; }
  .pagination_arrow .chevron-right {
    top: 3px;
    left: 1px; }
  .pagination_arrow .chevron-left {
    top: -3px;
    left: 1px; }

.user {
  bottom: 2rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  font-family: "Gotham Rounded";
  max-width: 100%; }
  .user_icon svg {
    width: 30px;
    height: 30px;
    fill: white; }
  .user_name {
    padding-top: 0.25rem; }
  .user_btn {
    border-bottom: 1px solid;
    padding-top: 0.25rem;
    cursor: pointer; }
    .user_btn:hover {
      color: #bdbdbd;
      border-color: transparent; }

.modal {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: center; }
  .modal .card {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.035), 0 1px 5px 0 rgba(0, 0, 0, 0.04), 0 3px 1px -2px rgba(0, 0, 0, 0.05);
    border-radius: 2px;
    background: #fff;
    padding: 0;
    padding: 3rem;
    width: 830px;
    color: black; }
    .modal .card h2 {
      color: #1665c4;
      font-weight: 800; }
    .modal .card h3 {
      color: #1665c4;
      font-weight: 800;
      font-family: "Gotham Rounded"; }
    .modal .card .regular {
      font-weight: 400; }
  .modal .text-input {
    margin-top: 1rem; }
    .modal .text-input label {
      display: block;
      font-family: "Gotham Rounded";
      color: #1665c4;
      margin-bottom: 0.25rem; }
    .modal .text-input input {
      height: 40px;
      border: 1px solid #bdbdbd;
      width: 100%;
      padding: 0.5rem;
      font-size: 15px;
      font-family: "Gotham Rounded"; }
  .modal .checkbox input[type="checkbox"] {
    display: none; }
    .modal .checkbox input[type="checkbox"]:checked + .checkbox-shape {
      background: #1665c4;
      border: 1px solid #1665c4; }
      .modal .checkbox input[type="checkbox"]:checked + .checkbox-shape svg {
        visibility: visible;
        opacity: 1;
        top: 6px; }
      .modal .checkbox input[type="checkbox"]:checked + .checkbox-shape + .checkbox-label {
        color: #757575; }
  .modal .checkbox .checkbox-shape {
    border: 1px solid #bdbdbd; }
  .modal .dropdown dt a {
    color: #757575;
    border: 1px solid #bdbdbd; }
  .modal .dropdown dd ul {
    background: white;
    border: 1px solid #bdbdbd; }
    .modal .dropdown dd ul li:hover {
      background: #bdbdbd; }
  .modal .button {
    color: white; }
    .modal .button.primary:hover {
      color: #1665c4; }

.test-list {
  margin-top: 1rem; }
  .test-list li {
    display: flex;
    align-items: center;
    height: 60px;
    color: #757575;
    border-bottom: 1px solid #bdbdbd;
    justify-content: space-between; }
    .test-list li:first-child {
      border-top: 1px solid #bdbdbd; }
    .test-list li .cross, .test-list li .triangle, .test-list li .circle {
      width: 20px;
      height: 20px; }
    .test-list li .chevron-right {
      width: 30px;
      height: 30px;
      position: relative;
      top: 2px;
      left: 8px;
      fill: #757575; }
    .test-list li .test-results {
      font-family: "Gotham Rounded";
      font-weight: 800;
      display: flex; }
      .test-list li .test-results .nb {
        padding-left: 0.25rem; }
      .test-list li .test-results .negative-test {
        display: flex;
        align-items: flex-start;
        color: #f73636; }
      .test-list li .test-results .warning-test {
        display: flex;
        align-items: flex-start;
        color: #ffbf00;
        margin: 0 1rem; }
      .test-list li .test-results .positive-test {
        display: flex;
        align-items: flex-start;
        color: #24f27a; }

.radio-button {
  position: relative; }

.radio-button input[type=radio] {
  position: absolute;
  visibility: hidden; }

.radio-button label {
  display: block;
  position: relative;
  font-weight: 300;
  font-size: 1.35em;
  padding: 25px 25px 25px 45px;
  margin: 10px auto;
  height: 30px;
  z-index: 9;
  cursor: pointer;
  -webkit-transition: all 0.25s linear;
  color: #757575; }

.radio-button .check {
  display: block;
  position: absolute;
  border: 2px solid #757575;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  top: 30px;
  left: 0px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear; }

.radio-button:hover .check {
  border: 2px solid #757575; }

.radio-button .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 16px;
  width: 16px;
  top: 5px;
  left: 5px;
  margin: auto;
  transition: background 0.25s linear; }

input[type=radio]:checked ~ .check {
  border: 2px solid #1665c4; }

input[type=radio]:checked ~ .check::before {
  background: #1665c4; }

input[type=radio]:checked ~ label {
  color: #1665c4; }

.login-card {
  padding: 0 !important;
  max-width: 500px; }
  .login-card .card-header {
    background: #1665c4;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px; }
    .login-card .card-header .app-brand {
      margin-bottom: 0; }
  .login-card .card-body {
    padding: 1rem 2rem 2rem 2rem; }
    .login-card .card-body label {
      color: #757575; }
    .login-card .card-body .button:hover {
      color: #1665c4; }
57575; }

.radio-button .check {
  display: block;
  position: absolute;
  border: 2px solid #757575;
  border-radius: 100%;
  height: 30px;
  width: 30px;
  top: 30px;
  left: 0px;
  z-index: 5;
  transition: border .25s linear;
  -webkit-transition: border .25s linear; }

.radio-button:hover .check {
  border: 2px solid #757575; }

.radio-button .check::before {
  display: block;
  position: absolute;
  content: '';
  border-radius: 100%;
  height: 16px;
  width: 16px;
  top: 5px;
  left: 5px;
  margin: auto;
  transition: background 0.25s linear; }

input[type=radio]:checked ~ .check {
  border: 2px solid #1665c4; }

input[type=radio]:checked ~ .check::before {
  background: #1665c4; }

input[type=radio]:checked ~ label {
  color: #1665c4; }

.login-card {
  padding: 0 !important;
  max-width: 500px; }
  .login-card .card-header {
    background: #1665c4;
    color: white;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100px; }
    .login-card .card-header .app-brand {
      margin-bottom: 0; }
  .login-card .card-body {
    padding: 1rem 2rem 2rem 2rem; }
    .login-card .card-body label {
      color: #757575; }
    .login-card .card-body .button:hover {
      color: #1665c4; }
